html
{
	background: #8A2387;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #F27121, #E94057, #8A2387);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #F27121, #E94057, #8A2387); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.intro {grid-area: intro;}
.guidelines{grid-area: guidelines;}
.radio{grid-area: radio;}
.tracklist{grid-area: tracklist;}


.guidelines
{
	border: 2px solid black;
	text-align: justify;
}
.tracklist
{
	border: 2px solid black;
}
.radio
{
	border: 2px solid black;
}
.intro
{
	border: 2px solid black;
}
h1
{
	border-bottom: 2px solid black;
	background-color: black;
	color: red;
}
.background
{
	display: grid;
	grid-template-areas:
		'intro tracklist'
		'guidelines radio';
 	grid-gap: 10px;
    background-color: #636FA4;
}
.background > div {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 10px;
  font-size: 30px;
}
